<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LunarROMCorruptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <LunarROMCorruptor.Properties.Settings>
            <setting name="SilentCorruption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StashSavesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunEmulator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReopenEmulator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoFileSaveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </LunarROMCorruptor.Properties.Settings>
    </userSettings>
</configuration>
